In [1]:
import pandas as pd
import os

In [2]:
import glob

path = "data/seoul_trans_admdong1_in_202509/"
all_files = glob.glob(path + "*.csv")

li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
    
people_df = pd.concat(li, axis=0, ignore_index=True)

people_df.head()

,d_admdong_cd,time_cd,move_trans,male_00_cnt,male_10_cnt,male_20_cnt,male_30_cnt,male_40_cnt,male_50_cnt,male_60_cnt,...,feml_00_cnt,feml_10_cnt,feml_20_cnt,feml_30_cnt,feml_40_cnt,feml_50_cnt,feml_60_cnt,feml_70_cnt,total_cnt,etl_ymd
0,11110515,0,5,0.0,0.00,2.66,0.00,0.00,0.00,0.00,...,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.0,2.66,20250901
1,11110515,0,6,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,2.92,0.0,0.00,0.00,0.0,0.0,2.92,20250901
2,11110515,0,7,0.0,0.00,2.66,10.63,4.72,2.57,4.65,...,0.0,3.18,0.00,2.4,7.11,2.57,0.0,0.0,43.99,20250901
3,11110515,0,8,0.0,3.91,0.00,2.42,11.09,11.32,3.50,...,0.0,0.00,9.59,0.0,0.00,4.82,0.0,0.0,46.65,20250901
4,11110515,0,9,0.0,0.00,3.99,2.29,2.36,0.00,0.00,...,0.0,0.00,6.68,2.4,0.00,0.00,0.0,3.4,21.12,20250901

In [3]:
import pandas as pd
import numpy as np

dong_population = people_df.groupby('d_admdong_cd')['total_cnt'].sum().reset_index(name='total_population_sep')

print("--- 집계 결과 (상위 5개) ---")
print(dong_population.head())

output_filename = 'data/population_table.csv'
dong_population.to_csv(output_filename, index=False, encoding='utf-8-sig')

--- 집계 결과 (상위 5개) ---
   d_admdong_cd  total_population_sep
0      11110515             975471.40
1      11110530            2878484.46
2      11110540             575638.64
3      11110550             605378.26
4      11110560             806331.98

In [4]:
len(dong_population)

654

In [ ]:
import glob

path = "data/seoul_trans_admdong1_in_202509/"
all_files = glob.glob(path + "*.csv")

li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
    
people_df = pd.concat(li, axis=0, ignore_index=True)

people_df.head()

In [167]:
import geopandas as gpd
import fiona

file_path = "../QGIS/data/seoul_adm.shp"

seoul_df = gpd.read_file(file_path)

seoul_df.head()

,BASE_DATE,ADM_CD,ADM_NM,geometry
0,20240630,11240750,잠실4동,"POLYGON ((210330.09 547163.722, 210326.158 547..."
1,20240630,11240780,잠실7동,"POLYGON ((206502.446 544771.474, 206494.684 54..."
2,20240630,11240790,잠실2동,"POLYGON ((207564.725 545798.428, 207564.263 54..."
3,20240630,11240770,잠실6동,"POLYGON ((208949.521 547174.423, 208975.386 54..."
4,20240630,11240580,방이2동,"POLYGON ((209981.565 546446.632, 210067.824 54..."

In [41]:
len(seoul_df)

426

In [18]:
dong_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   d_admdong_cd          654 non-null    int64
 1   total_population_sep  654 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 10.3 KB

In [26]:
# 행정동 면적 계산
path = "../QGIS/data/행정구역(동별)_20251101135656.csv"

df_size = pd.read_csv(path, encoding = "utf-8", header = 0)
df_size.head()

   동별(1)  동별(2)  동별(3)     2024   2024.1  2024.2  2024.3  2024.4  2024.5
0  동별(1)  동별(2)  동별(3)       면적       면적  동 (개소)  동 (개소)  통 (개소)  반 (개소)
1  동별(1)  동별(2)  동별(3)  면적 (k㎡)  구성비 (%)      행정      법정      소계      소계
2    서울시     소계     소계   605.25   100.00     426     467   12934   94795
3    서울시    종로구     소계    23.91     3.95      17      87     279    1475
4    서울시    종로구    사직동     1.23     0.20       1      12      16      68

In [27]:
df_size.columns

Index(['동별(1)', '동별(2)', '동별(3)', '2024', '2024.1', '2024.2', '2024.3',
       '2024.4', '2024.5'],
      dtype='object')

In [28]:
column = ['동별(2)', '동별(3)', '2024']
df_size = df_size[column]
df_size.head()

   동별(2)  동별(3)     2024
0  동별(2)  동별(3)       면적
1  동별(2)  동별(3)  면적 (k㎡)
2     소계     소계   605.25
3    종로구     소계    23.91
4    종로구    사직동     1.23

In [31]:
df_size = df_size.loc[3:]

In [32]:
df_size.head()

  동별(2) 동별(3)   2024
3   종로구    소계  23.91
4   종로구   사직동   1.23
5   종로구   삼청동   1.49
6   종로구   부암동   2.27
7   종로구   평창동   8.87

In [33]:
df_size2 = df_size[df_size["동별(3)"] != "소계"]

In [35]:
df_size2.head()

  동별(2) 동별(3)  2024
4   종로구   사직동  1.23
5   종로구   삼청동  1.49
6   종로구   부암동  2.27
7   종로구   평창동  8.87
8   종로구   무악동  0.36

In [36]:
len(df_size2)

426

In [42]:
seoul_df.head()

,BASE_DATE,ADM_CD,ADM_NM,geometry
0,20240630,11240750,잠실4동,"POLYGON ((210330.09 547163.722, 210326.158 547..."
1,20240630,11240780,잠실7동,"POLYGON ((206502.446 544771.474, 206494.684 54..."
2,20240630,11240790,잠실2동,"POLYGON ((207564.725 545798.428, 207564.263 54..."
3,20240630,11240770,잠실6동,"POLYGON ((208949.521 547174.423, 208975.386 54..."
4,20240630,11240580,방이2동,"POLYGON ((209981.565 546446.632, 210067.824 54..."

In [43]:
# 면적, 행정동 코드 비교

print(seoul_df['ADM_NM'].equals(df_size2['동별(3)']))

False

In [45]:
seoul_df_dong = set(seoul_df['ADM_NM'])
df_size2_dong = set(df_size2['동별(3)'])

seoul_df_only = seoul_df_dong - df_size2_dong
df_size2_only = df_size2_dong - seoul_df_dong

print(seoul_df_only)
print(df_size2_only)

{'상계6·7동', '종로1·2·3·4가동', '종로5·6가동', '중계2·3동', '금호2·3가동', '상계3·4동', '면목3·8동'}
{'종로1.2.3.4가동', '종로5.6가동', '금호2.3가동', '면목3.8동', '중계2.3동', '상계6.7동', '상계3.4동'}

In [47]:
df_size2['동별(3)'] = df_size2['동별(3)'].str.replace('.', '·', regex=False)

False

C:\Users\HWYoo\AppData\Local\Temp\ipykernel_15872\333294789.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_size2['동별(3)'] = df_size2['동별(3)'].str.replace('.', '·', regex=False)

In [48]:
seoul_df_dong = set(seoul_df['ADM_NM'])
df_size2_dong = set(df_size2['동별(3)'])

seoul_df_only = seoul_df_dong - df_size2_dong
df_size2_only = df_size2_dong - seoul_df_dong

print(seoul_df_only)
print(df_size2_only)

set()
set()

In [49]:
seoul_df.head()

,BASE_DATE,ADM_CD,ADM_NM,geometry
0,20240630,11240750,잠실4동,"POLYGON ((210330.09 547163.722, 210326.158 547..."
1,20240630,11240780,잠실7동,"POLYGON ((206502.446 544771.474, 206494.684 54..."
2,20240630,11240790,잠실2동,"POLYGON ((207564.725 545798.428, 207564.263 54..."
3,20240630,11240770,잠실6동,"POLYGON ((208949.521 547174.423, 208975.386 54..."
4,20240630,11240580,방이2동,"POLYGON ((209981.565 546446.632, 210067.824 54..."

In [50]:
df_size2.head()

  동별(2) 동별(3)  2024
4   종로구   사직동  1.23
5   종로구   삼청동  1.49
6   종로구   부암동  2.27
7   종로구   평창동  8.87
8   종로구   무악동  0.36

In [52]:
len(df_size2)

426

In [53]:
len(seoul_df)

426

In [54]:
duplicated_dongs = df_size2[df_size2.duplicated(subset=['동별(3)'], keep=False)]

print("--- df_size2에서 중복된 행정동 목록 ---")
print(duplicated_dongs.sort_values('동별(3)'))

--- df_size2에서 중복된 행정동 목록 ---
    동별(2) 동별(3)  2024
353   관악구   신사동  0.64
384   강남구   신사동  1.89

In [51]:
dong_size = seoul_df.merge(
    df_size2,
    how = 'left',
    left_on = "ADM_NM",
    right_on = "동별(3)"
)

print(len(dong_size))
dong_size.head()

428

,BASE_DATE,ADM_CD,ADM_NM,geometry,동별(2),동별(3),2024
0,20240630,11240750,잠실4동,"POLYGON ((210330.09 547163.722, 210326.158 547...",송파구,잠실4동,1.56
1,20240630,11240780,잠실7동,"POLYGON ((206502.446 544771.474, 206494.684 54...",송파구,잠실7동,0.60
2,20240630,11240790,잠실2동,"POLYGON ((207564.725 545798.428, 207564.263 54...",송파구,잠실2동,2.18
3,20240630,11240770,잠실6동,"POLYGON ((208949.521 547174.423, 208975.386 54...",송파구,잠실6동,2.79
4,20240630,11240580,방이2동,"POLYGON ((209981.565 546446.632, 210067.824 54...",송파구,방이2동,0.80

In [56]:
dong_size[dong_size['ADM_NM'] == '신사동']

,BASE_DATE,ADM_CD,ADM_NM,geometry,동별(2),동별(3),2024
320,20240630,11210680,신사동,"POLYGON ((193471.089 542706.588, 193447.643 54...",관악구,신사동,0.64
321,20240630,11210680,신사동,"POLYGON ((193471.089 542706.588, 193447.643 54...",강남구,신사동,1.89
337,20240630,11230510,신사동,"POLYGON ((202482.719 546690.606, 202480.971 54...",관악구,신사동,0.64
338,20240630,11230510,신사동,"POLYGON ((202482.719 546690.606, 202480.971 54...",강남구,신사동,1.89

In [58]:
# 잘못 매칭된 신사동 삭제

dong_size.drop([321, 337], inplace = True)
dong_size[dong_size['ADM_NM'] == '신사동']

,BASE_DATE,ADM_CD,ADM_NM,geometry,동별(2),동별(3),2024
320,20240630,11210680,신사동,"POLYGON ((193471.089 542706.588, 193447.643 54...",관악구,신사동,0.64
338,20240630,11230510,신사동,"POLYGON ((202482.719 546690.606, 202480.971 54...",강남구,신사동,1.89

In [59]:
len(dong_size)

426

In [60]:
dong_size.head()

,BASE_DATE,ADM_CD,ADM_NM,geometry,동별(2),동별(3),2024
0,20240630,11240750,잠실4동,"POLYGON ((210330.09 547163.722, 210326.158 547...",송파구,잠실4동,1.56
1,20240630,11240780,잠실7동,"POLYGON ((206502.446 544771.474, 206494.684 54...",송파구,잠실7동,0.60
2,20240630,11240790,잠실2동,"POLYGON ((207564.725 545798.428, 207564.263 54...",송파구,잠실2동,2.18
3,20240630,11240770,잠실6동,"POLYGON ((208949.521 547174.423, 208975.386 54...",송파구,잠실6동,2.79
4,20240630,11240580,방이2동,"POLYGON ((209981.565 546446.632, 210067.824 54...",송파구,방이2동,0.80

In [64]:
dong_size.drop(columns = ['BASE_DATE', '동별(3)'], inplace = True)

dong_size = dong_size.rename(columns = {
    '동별(2)' : '구별',
    '2024' : '면적'
} )

In [65]:
dong_size.head()

,ADM_CD,ADM_NM,geometry,구별,면적
0,11240750,잠실4동,"POLYGON ((210330.09 547163.722, 210326.158 547...",송파구,1.56
1,11240780,잠실7동,"POLYGON ((206502.446 544771.474, 206494.684 54...",송파구,0.60
2,11240790,잠실2동,"POLYGON ((207564.725 545798.428, 207564.263 54...",송파구,2.18
3,11240770,잠실6동,"POLYGON ((208949.521 547174.423, 208975.386 54...",송파구,2.79
4,11240580,방이2동,"POLYGON ((209981.565 546446.632, 210067.824 54...",송파구,0.80

In [69]:
# 행정동 코드 비교

duplicated_dongs = dong_population[dong_population.duplicated(subset=['d_admdong_cd'], keep=False)]

print("--- df_size2에서 중복된 행정동 목록 ---")
print(duplicated_dongs.sort_values('d_admdong_cd'))

--- df_size2에서 중복된 행정동 목록 ---
Empty DataFrame
Columns: [d_admdong_cd, total_population_sep]
Index: []

In [71]:
dong_size_dong = set(dong_size['ADM_CD'])
dong_population_dong = set(dong_population['d_admdong_cd'])

dong_size_only = dong_size_dong - dong_population_dong
dong_population_only = dong_population_dong - dong_size_dong

print(dong_size_only)
print(dong_population_only)

{'11070710', '11060830', '11240630', '11170520', '11010730', '11210660', '11040580', '11100520', '11050660', '11010710', '11090630', '11220560', '11210690', '11230650', '11130690', '11160630', '11190540', '11240750', '11070600', '11080590', '11150660', '11020680', '11230530', '11140660', '11150720', '11080820', '11050590', '11160751', '11110530', '11070690', '11050550', '11190690', '11010690', '11040700', '11080810', '11020520', '11170720', '11250550', '11050530', '11170560', '11190710', '11230660', '11220580', '11090620', '11150570', '11200720', '11250670', '11070540', '11220640', '11040710', '11160510', '11210720', '11130620', '11240510', '11190650', '11120650', '11210820', '11020700', '11200700', '11120590', '11180570', '11110510', '11220630', '11240680', '11200730', '11210810', '11250560', '11210730', '11050620', '11210630', '11060880', '11090750', '11090740', '11250730', '11010560', '11170510', '11120580', '11060720', '11230780', '11230680', '11230790', '11140720', '11100540', '11100550', '11180530', '11180550', '11120670', '11140750', '11140780', '11230770', '11140760', '11110740', '11090710', '11020550', '11150580', '11040550', '11100510', '11120510', '11130720', '11150620', '11230800', '11150690', '11150600', '11220670', '11040690', '11210710', '11100530', '11110600', '11150650', '11240610', '11160700', '11080780', '11220620', '11200690', '11040560', '11140680', '11160520', '11030530', '11110690', '11210640', '11220540', '11030590', '11200680', '11250540', '11170710', '11140770', '11240780', '11170620', '11110590', '11170700', '11250720', '11120730', '11110760', '11240540', '11120710', '11040520', '11240590', '11020570', '11010570', '11030640', '11220680', '11020650', '11070640', '11170540', '11240530', '11070720', '11010580', '11120740', '11170550', '11190700', '11100590', '11070570', '11230580', '11230640', '11230670', '11120720', '11050580', '11040660', '11190730', '11040730', '11030630', '11040570', '11030580', '11060910', '11100570', '11100610', '11210830', '11240790', '11220660', '11080660', '11220600', '11240650', '11070650', '11120570', '11080680', '11080630', '11030510', '11070520', '11160660', '11230600', '11130650', '11160740', '11140590', '11160580', '11140600', '11200660', '11250760', '11200540', '11020540', '11240550', '11010550', '11030570', '11170610', '11240710', '11110780', '11080840', '11070590', '11100600', '11250710', '11160710', '11170670', '11080830', '11110770', '11160690', '11160590', '11180590', '11080610', '11190760', '11240820', '11060890', '11250750', '11220570', '11230730', '11040670', '11050640', '11210620', '11100620', '11230511', '11120680', '11250660', '11250530', '11040540', '11010670', '11210650', '11050600', '11170740', '11190740', '11040620', '11090600', '11110720', '11040680', '11190680', '11170650', '11210800', '11020720', '11240770', '11080720', '11110790', '11120600', '11060860', '11160570', '11160530', '11150540', '11150630', '11250630', '11230630', '11220590', '11240560', '11110610', '11230710', '11100650', '11170730', '11190670', '11190560', '11130740', '11220510', '11140700', '11210790', '11030520', '11250650', '11230750', '11110520', '11230510', '11020590', '11110730', '11070620', '11150510', '11240580', '11150640', '11050630', '11030740', '11080850', '11010530', '11130700', '11160550', '11110650', '11200630', '11130660', '11070610', '11190620', '11130710', '11240810', '11160730', '11060810', '11160610', '11010640', '11050610', '11020580', '11060800', '11250770', '11080760', '11050650', '11070680', '11130760', '11240800', '11030730', '11090650', '11080770', '11060870', '11210780', '11240600', '11180580', '11130520', '11180600', '11100640', '11080600', '11250740', '11200530', '11210570', '11150520', '11240620', '11150710', '11120560', '11030720', '11160761', '11190720', '11190610', '11210540', '11010610', '11040590', '11040720', '11140730', '11140630', '11200670', '11070730', '11010680', '11180540', '11240570', '11050570', '11050540', '11100560', '11080580', '11240690', '11010600', '11060840', '11240670', '11240640', '11060730', '11130730', '11140690', '11230520', '11250700', '11200710', '11230760', '11090610', '11200560', '11210520', '11240660', '11110640', '11140610', '11150590', '11180510', '11250580', '11190750', '11030690', '11010700', '11020710', '11110580', '11080650', '11220610', '11020600', '11020730', '11120550', '11010540', '11170640', '11230720', '11010720', '11180520', '11150700', '11220550', '11120520', '11110660', '11140740', '11030660', '11080710', '11150530', '11090720', '11200520', '11160650', '11060820', '11200550', '11160670', '11030650', '11140710', '11130680', '11020690', '11060900', '11220520', '11050670', '11090700', '11220530', '11220650', '11240520', '11010630', '11130750', '11090730', '11230590', '11250590', '11070700', '11130640', '11160540', '11210610', '11150610', '11070550', '11190550', '11080640', '11100630', '11120660', '11170690', '11030710', '11210680', '11090690', '11110560', '11190660', '11250610', '11200650', '11210580', '11030700', '11190630', '11090640', '11060710', '11080620', '11180610', '11020670', '11050560', '11040650'}
{44800000, 11290630, 11200520, 41173000, 11290640, 11200535, 11290650, 11200540, 11290660, 11200550, 11710510, 11200560, 26110000, 41171000, 11710520, 11200570, 11290685, 44200000, 11710531, 11200580, 11710532, 11710540, 11200590, 11290705, 11710550, 11290715, 11710561, 11710562, 11290725, 11710566, 11200615, 11710570, 11200620, 44710000, 51110000, 11110515, 11710580, 11710590, 48720000, 11110530, 11200645, 11290760, 11710600, 11200650, 11110540, 41210000, 43770000, 11290770, 11710610, 11200660, 48890000, 11110550, 52730000, 11290780, 11710620, 11200670, 11110560, 31140000, 11710631, 11710632, 11110570, 11620525, 41550000, 11710641, 11200690, 11710642, 11110580, 51790000, 11710646, 11710647, 11290810, 11710650, 30200000, 11620545, 46840000, 11110600, 11710670, 11200720, 26530000, 52130000, 11620565, 11110615, 11710680, 11620575, 11710690, 11110630, 11620585, 11110640, 44790000, 51190000, 11620595, 11710710, 11110650, 11620605, 11710720, 11620615, 11110670, 11530510, 41290000, 11620625, 11200790, 11620630, 11110680, 11530520, 11110690, 11530530, 11620645, 11110700, 11530540, 11620655, 30110000, 41630000, 11110710, 11530550, 11620665, 11530560, 26440000, 27720000, 41800000, 11620685, 29170000, 52210000, 11620695, 11530595, 11620715, 46150000, 11620725, 11620735, 43760000, 48880000, 52720000, 11620745, 27290000, 41370000, 47770000, 11620765, 47940000, 51780000, 11620775, 28185000, 44825000, 11440555, 26350000, 44270000, 46830000, 11440565, 11440585, 11440590, 47170000, 11440600, 11530720, 28140000, 11440610, 41196000, 11530730, 46230000, 11530740, 11440630, 11530750, 27200000, 52800000, 11530760, 11440655, 41194000, 41450000, 11530770, 47850000, 11440660, 11530780, 11350560, 26260000, 44180000, 11530790, 11440680, 43113000, 11350570, 11530800, 27710000, 11440690, 46910000, 11350580, 11440700, 11305534, 11305535, 41192000, 11350595, 11440710, 11350600, 11305545, 11440720, 47250000, 11305555, 11350611, 11350612, 43111000, 11440730, 11350619, 11350621, 11350624, 11350625, 11440740, 11350630, 11305575, 11260520, 28177000, 11350640, 27110000, 43750000, 48870000, 52710000, 11305595, 11260540, 41360000, 47760000, 11305603, 11260550, 11305608, 11350665, 44133000, 11350670, 11305615, 51770000, 26170000, 47930000, 11260565, 11305625, 11260570, 11260575, 46820000, 11305635, 11260580, 11350695, 11350700, 11305645, 11260590, 43150000, 48270000, 11350710, 11260600, 44131000, 11305660, 11350720, 11260610, 11260620, 11170510, 44770000, 51170000, 11260630, 11170520, 11170530, 11260655, 52790000, 11260660, 11170555, 11680510, 11170560, 31200000, 47840000, 11260680, 11680521, 11170570, 41610000, 46730000, 11260690, 11680531, 11170580, 11170590, 46900000, 11680545, 47113000, 31710000, 52190000, 11680565, 11170625, 11680580, 11170630, 11680590, 11170640, 46130000, 11680600, 47111000, 11170650, 11215710, 43740000, 48860000, 11680610, 11170660, 11590510, 31110000, 47750000, 11215730, 11680630, 11590520, 11215740, 11170685, 11680640, 28720000, 11170690, 11590530, 47920000, 51760000, 11215750, 11680650, 11170700, 11590540, 11680655, 11215760, 11680656, 30170000, 44250000, 11680660, 46810000, 11590550, 41135000, 11215770, 11680670, 11590560, 26500000, 11680675, 11215780, 11545510, 47150000, 11680690, 11680700, 44760000, 11215810, 41133000, 11215820, 11590605, 11680720, 11215830, 11680730, 11590620, 11500510, 11215840, 11590630, 11215847, 11500520, 48129000, 11215850, 11680750, 11590640, 41430000, 11500530, 47830000, 11215860, 11500535, 41131000, 11590650, 11590651, 11500540, 11215870, 46720000, 11590660, 11500550, 28245000, 11545610, 11590670, 11500560, 26410000, 46890000, 48170000, 11545620, 11590680, 48127000, 11500570, 11545630, 29140000, 52180000, 11545640, 11500590, 11500591, 47230000, 11500593, 11500603, 11500604, 11500605, 28200000, 11500611, 11545670, 11500615, 48125000, 11500620, 11545680, 43730000, 48850000, 50130000, 11500630, 11410520, 11545690, 11500640, 11500641, 27260000, 11545700, 11545710, 28710000, 51750000, 48123000, 11410555, 26320000, 46800000, 11410565, 43130000, 48250000, 11410585, 41465000, 48121000, 28110000, 51150000, 11410615, 11410620, 11320511, 11320512, 11320513, 11320514, 11320515, 28237000, 11320521, 11320522, 11410640, 27170000, 41250000, 52770000, 41463000, 11410655, 47820000, 11410660, 26230000, 41590000, 44150000, 46710000, 51830000, 11410685, 46880000, 11410690, 41461000, 11410700, 48330000, 11410710, 11410720, 46110000, 51230000, 11230515, 43720000, 48840000, 11230533, 41117000, 47730000, 11230545, 11320660, 41287000, 11320670, 11230560, 26140000, 41500000, 11740515, 47900000, 11320680, 11320681, 11230570, 11740525, 11740526, 41670000, 44230000, 11320690, 11740530, 46790000, 41115000, 11320700, 11740540, 48240000, 11320710, 11740550, 11230600, 41285000, 11740560, 47130000, 11230610, 11740570, 11740580, 11140520, 41113000, 11740590, 11740600, 11230650, 11140540, 43800000, 11740610, 11230660, 11140550, 11740620, 11650510, 31170000, 41410000, 11650520, 41111000, 11140570, 11740640, 51820000, 11650530, 11650531, 11140580, 41281000, 11740650, 11650540, 11140590, 30230000, 11230705, 46870000, 11740660, 11230710, 11650550, 11140605, 11230720, 11650560, 11140615, 11230730, 11650570, 11740685, 43114000, 11140625, 11740690, 47210000, 11230740, 11650580, 11650581, 11140635, 11740700, 11230750, 11650590, 11140645, 11650600, 11140650, 41150000, 50110000, 11650610, 11140665, 11650620, 11650621, 11140670, 43112000, 11560515, 11140680, 51730000, 11560535, 11650651, 11560540, 11650652, 30140000, 46780000, 11650660, 11560550, 52113000, 11560560, 26470000, 41830000, 29200000, 11560585, 47290000, 51130000, 52111000, 11560605, 28260000, 48740000, 11560610, 41273000, 11560620, 11470510, 36110000, 52750000, 11560630, 11470520, 29155000, 11470530, 11560650, 11470540, 41570000, 51810000, 11560660, 11470550, 41271000, 11560670, 11470560, 26380000, 46860000, 11560680, 43745000, 11470570, 29110000, 48310000, 11560690, 11470580, 11560700, 11470590, 11560710, 11470600, 11560720, 44810000, 11470610, 11470611, 51210000, 11470620, 11380510, 48820000, 11470630, 11380520, 11470640, 27230000, 11380530, 41310000, 11470650, 41480000, 51720000, 11380551, 11380552, 11470670, 11380560, 26290000, 41650000, 44210000, 46770000, 11470680, 11380570, 41820000, 48220000, 11380580, 11380590, 11380600, 47280000, 46170000, 11380625, 48730000, 11380631, 11380632, 11290525, 11380640, 27140000, 41220000, 52740000, 11380650, 41390000, 11290555, 26200000, 51800000, 11290575, 11380690, 11290580, 11290590, 52140000, 11290600, 26710000, 47190000, 11290610, 11290620}

In [118]:
dong_size[dong_size['ADM_CD'] == '11070600']

,ADM_CD,ADM_NM,geometry,구별,면적
407,11070600,상봉2동,"POLYGON ((208230.81 554957.333, 208230.015 554...",중랑구,0.68

In [120]:
dong_pop[dong_pop['d_admdong_cd'] == '11260590']

    d_admdong_cd  total_population_sep
102     11260590             1678252.7

In [74]:
# 앞자리가 11로 시작하지 않는 데이터 삭제
dong_pop = dong_population[
    dong_population['d_admdong_cd'].astype(str).str.startswith('11')
]

len(dong_pop)

427

In [76]:
dong_size.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 426 entries, 0 to 427
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ADM_CD    426 non-null    object
 1   ADM_NM    426 non-null    object
 2   geometry  426 non-null    geometry
 3   구별        426 non-null    object
 4   면적        426 non-null    object
dtypes: geometry(1), object(4)
memory usage: 20.0+ KB

In [77]:
dong_pop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 427 entries, 0 to 426
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   d_admdong_cd          427 non-null    int64
 1   total_population_sep  427 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 10.0 KB

In [79]:
dong_pop['d_admdong_cd'] = dong_pop['d_admdong_cd'].astype(str)

dong_pop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 427 entries, 0 to 426
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   d_admdong_cd          427 non-null    object
 1   total_population_sep  427 non-null    float64
dtypes: float64(1), object(1)
memory usage: 10.0+ KB

C:\Users\HWYoo\AppData\Local\Temp\ipykernel_15872\2499731876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dong_pop['d_admdong_cd'] = dong_pop['d_admdong_cd'].astype(str)

In [86]:
dong_size_dong = set(dong_size['ADM_CD'])
dong_pop_dong = set(dong_pop['d_admdong_cd'])

dong_size_only = dong_size_dong - dong_pop_dong
dong_pop_only = dong_pop_dong - dong_size_dong

print(dong_size_only)
print(dong_pop_only)

공백 제거 후 dong_size에만 있는 코드: {'11070710', '11060830', '11240630', '11010730', '11210660', '11040580', '11100520', '11050660', '11010710', '11090630', '11220560', '11210690', '11130690', '11160630', '11190540', '11240750', '11070600', '11080590', '11150660', '11020680', '11230530', '11140660', '11150720', '11080820', '11050590', '11160751', '11070690', '11050550', '11190690', '11010690', '11040700', '11080810', '11020520', '11170720', '11250550', '11050530', '11190710', '11220580', '11090620', '11150570', '11250670', '11070540', '11220640', '11040710', '11160510', '11210720', '11130620', '11240510', '11190650', '11120650', '11210820', '11020700', '11200700', '11120590', '11180570', '11110510', '11220630', '11240680', '11200730', '11210810', '11250560', '11210730', '11050620', '11210630', '11060880', '11090750', '11090740', '11250730', '11010560', '11230780', '11120580', '11060720', '11230680', '11230790', '11140720', '11100540', '11100550', '11180530', '11180550', '11120670', '11140750', '11140780', '11230770', '11140760', '11110740', '11090710', '11020550', '11150580', '11040550', '11100510', '11120510', '11130720', '11150620', '11230800', '11150690', '11150600', '11220670', '11040690', '11210710', '11100530', '11150650', '11240610', '11160700', '11080780', '11220620', '11040560', '11160520', '11030530', '11210640', '11220540', '11030590', '11200680', '11250540', '11170710', '11140770', '11240780', '11170620', '11110590', '11250720', '11120730', '11110760', '11240540', '11120710', '11040520', '11240590', '11020570', '11010570', '11030640', '11220680', '11020650', '11070640', '11170540', '11240530', '11070720', '11010580', '11120740', '11170550', '11190700', '11100590', '11070570', '11230580', '11230640', '11230670', '11120720', '11050580', '11040660', '11190730', '11040730', '11030630', '11040570', '11030580', '11060910', '11100570', '11100610', '11210830', '11240790', '11220660', '11080660', '11220600', '11240650', '11070650', '11120570', '11080680', '11080630', '11030510', '11070520', '11160660', '11130650', '11160740', '11160580', '11140600', '11250760', '11020540', '11240550', '11010550', '11030570', '11170610', '11240710', '11110780', '11080840', '11070590', '11100600', '11250710', '11160710', '11170670', '11080830', '11110770', '11160690', '11160590', '11180590', '11080610', '11190760', '11240820', '11060890', '11250750', '11220570', '11040670', '11050640', '11210620', '11100620', '11230511', '11120680', '11250660', '11250530', '11040540', '11010670', '11210650', '11050600', '11170740', '11190740', '11040620', '11090600', '11110720', '11040680', '11190680', '11210800', '11020720', '11240770', '11080720', '11110790', '11120600', '11060860', '11160570', '11160530', '11150540', '11150630', '11250630', '11230630', '11220590', '11240560', '11110610', '11100650', '11170730', '11190670', '11190560', '11130740', '11220510', '11140700', '11210790', '11030520', '11250650', '11110520', '11230510', '11020590', '11110730', '11070620', '11150510', '11240580', '11150640', '11050630', '11030740', '11080850', '11010530', '11130700', '11160550', '11200630', '11130660', '11070610', '11190620', '11130710', '11240810', '11160730', '11060810', '11160610', '11010640', '11050610', '11020580', '11060800', '11250770', '11080760', '11050650', '11070680', '11130760', '11240800', '11030730', '11090650', '11080770', '11060870', '11210780', '11240600', '11180580', '11130520', '11180600', '11100640', '11080600', '11250740', '11200530', '11210570', '11150520', '11240620', '11150710', '11120560', '11030720', '11160761', '11190720', '11190610', '11210540', '11010610', '11040590', '11040720', '11140730', '11140630', '11070730', '11010680', '11180540', '11240570', '11050570', '11050540', '11100560', '11080580', '11240690', '11010600', '11060840', '11240670', '11240640', '11060730', '11130730', '11140690', '11230520', '11250700', '11200710', '11230760', '11090610', '11210520', '11240660', '11140610', '11150590', '11180510', '11250580', '11190750', '11030690', '11010700', '11020710', '11080650', '11220610', '11020600', '11020730', '11120550', '11010540', '11180520', '11010720', '11150700', '11220550', '11120520', '11110660', '11140740', '11030660', '11080710', '11150530', '11090720', '11160650', '11060820', '11160670', '11030650', '11140710', '11130680', '11020690', '11060900', '11220520', '11050670', '11090700', '11220530', '11220650', '11240520', '11010630', '11130750', '11090730', '11230590', '11250590', '11070700', '11130640', '11160540', '11210610', '11150610', '11070550', '11190550', '11080640', '11100630', '11120660', '11030710', '11210680', '11090690', '11190660', '11250610', '11210580', '11030700', '11190630', '11090640', '11060710', '11080620', '11180610', '11020670', '11050560', '11040650'}
공백 제거 후 dong_pop에만 있는 코드: {'11530550', '11620565', '11260580', '11350621', '11620725', '11110540', '11320700', '11680750', '11170660', '11440565', '11500540', '11590650', '11440655', '11140520', '11710641', '11710566', '11500535', '11260550', '11305615', '11140615', '11260660', '11380632', '11740620', '11290715', '11560720', '11470540', '11290810', '11440630', '11530750', '11500591', '11320680', '11680565', '11470680', '11200615', '11680660', '11215860', '11710650', '11305545', '11710690', '11260565', '11710570', '11260600', '11290600', '11650610', '11650550', '11110550', '11230570', '11650570', '11740540', '11260570', '11530540', '11140550', '11545630', '11140645', '11560620', '11170580', '11440600', '11710532', '11260620', '11680720', '11260630', '11440590', '11215810', '11590550', '11710540', '11620775', '11530510', '11290725', '11650530', '11260540', '11500510', '11545640', '11560690', '11470530', '11710646', '11545700', '11305595', '11710550', '11710631', '11620655', '11500593', '11590520', '11215750', '11290760', '11560610', '11590560', '11410520', '11620685', '11545510', '11305575', '11440730', '11215740', '11290770', '11500530', '11680580', '11230515', '11140635', '11380560', '11290640', '11215830', '11380625', '11530720', '11350720', '11200535', '11590530', '11620645', '11620615', '11470630', '11200620', '11740526', '11290650', '11740700', '11710647', '11350640', '11560630', '11650540', '11740515', '11110710', '11260680', '11560585', '11620595', '11560680', '11470570', '11320511', '11440680', '11440740', '11320681', '11410655', '11650660', '11710580', '11290580', '11560550', '11260690', '11380640', '11200580', '11320690', '11710600', '11290660', '11470640', '11215850', '11140665', '11305535', '11680730', '11740590', '11680531', '11740600', '11650560', '11170685', '11680675', '11290705', '11680630', '11680600', '11590630', '11740640', '11650581', '11305635', '11680700', '11260610', '11350630', '11740530', '11290620', '11320522', '11410710', '11530770', '11380520', '11710561', '11560710', '11620665', '11530560', '11680690', '11440555', '11380650', '11140670', '11590605', '11410555', '11590620', '11680521', '11200790', '11305534', '11440700', '11470670', '11560560', '11350625', '11350595', '11110670', '11170555', '11470600', '11500520', '11350710', '11290555', '11290780', '11140625', '11380510', '11350600', '11500630', '11650620', '11440660', '11560535', '11500590', '11590640', '11590660', '11650651', '11500550', '11290610', '11440710', '11680610', '11710610', '11560515', '11230533', '11530760', '11620630', '11110680', '11650652', '11215710', '11545670', '11620765', '11620735', '11350612', '11350695', '11590540', '11410585', '11620525', '11140570', '11260655', '11320513', '11350665', '11350619', '11470580', '11320515', '11305625', '11545710', '11470520', '11680670', '11110570', '11140580', '11320710', '11740690', '11200645', '11740560', '11320512', '11440610', '11620715', '11290590', '11680640', '11305608', '11320670', '11710520', '11380600', '11620625', '11710632', '11545610', '11560650', '11470560', '11590510', '11215820', '11560660', '11470611', '11305603', '11470550', '11305660', '11650600', '11440585', '11710680', '11410720', '11290525', '11230705', '11740685', '11350670', '11215870', '11500604', '11740660', '11560670', '11110515', '11710590', '11410640', '11680650', '11650531', '11650590', '11350560', '11170530', '11215840', '11500641', '11110615', '11470590', '11740650', '11545690', '11305645', '11350624', '11440690', '11200590', '11740570', '11545680', '11500611', '11710562', '11380631', '11530520', '11230560', '11350580', '11530790', '11140605', '11260520', '11290685', '11140650', '11410565', '11710642', '11410615', '11380552', '11320521', '11380590', '11710531', '11620695', '11500605', '11215730', '11710620', '11260575', '11470620', '11170570', '11230740', '11740525', '11500640', '11290630', '11350700', '11410685', '11620605', '11470610', '11500560', '11620585', '11620575', '11530730', '11470510', '11590680', '11680656', '11215760', '11410660', '11110700', '11215847', '11530800', '11710510', '11350611', '11410620', '11530595', '11500615', '11215780', '11110630', '11560605', '11170590', '11620545', '11650580', '11170625', '11680655', '11140540', '11530740', '11710710', '11680545', '11380530', '11710670', '11530780', '11650520', '11170630', '11350570', '11410690', '11215770', '11470650', '11290575', '11590670', '11380580', '11320660', '11380570', '11530530', '11650621', '11260590', '11560700', '11440720', '11740550', '11620745', '11680510', '11410700', '11590651', '11500620', '11560540', '11740610', '11200570', '11380551', '11650510', '11380690', '11230610', '11545620', '11230545', '11500570', '11680590', '11710720', '11500603', '11740580', '11320514', '11305555'}

In [88]:
matching_keys = dong_size_keys & dong_pop_keys
print(matching_keys)

{'11140590', '11110640', '11200670', '11200520', '11170520', '11200550', '11230750', '11200720', '11170690', '11200560', '11110560', '11200660', '11110530', '11110600', '11110580', '11200650', '11230650', '11200540', '11200690', '11140680', '11230710', '11110690', '11110650', '11170640', '11230720', '11230730', '11230660', '11170560', '11170700', '11230600', '11170650', '11170510'}

In [111]:
# dong size

dong_size[dong_size['ADM_NM'] == '청운효자동']

,ADM_CD,ADM_NM,geometry,구별,면적
36,11010720,청운효자동,"POLYGON ((197667.313 554856.377, 197669.993 55...",종로구,2.57

In [117]:
dong_pop[dong_pop['d_admdong_cd'] == '11110530']

  d_admdong_cd  total_population_sep
1     11110530            2878484.46

In [156]:
file_path = "data/서울시 상권분석서비스(영역-행정동).csv"

df_new_cd = pd.read_csv(file_path, encoding = 'cp949')
df_new_cd.head()

     행정동_코드  행정동_명  엑스좌표_값  와이좌표_값    영역_면적
0  11110515  청운효자동  197342  453874  2568432
1  11110530    사직동  197383  452705  1158536
2  11110540    삼청동  198340  454312  1479255
3  11110550    부암동  196781  455266  2274739
4  11110560    평창동  197186  457344  8947328

In [93]:
len(df_new_cd)

425

In [157]:
df_new_cd['행정동_코드'] = df_new_cd['행정동_코드'].astype(str)

In [103]:
dong_size_dong = set(dong_size['ADM_NM'])
df_new_cd_dong = set(df_new_cd['행정동_명'])

dong_size_only = dong_size_dong - df_new_cd_dong
df_new_cd_only = df_new_cd_dong - dong_size_dong

print(dong_size_only)
print(df_new_cd_only)

{'상계6·7동', '종로1·2·3·4가동', '상일1동', '개포3동', '종로5·6가동', '중계2·3동', '상일2동', '금호2·3가동', '상계3·4동', '면목3·8동'}
{'종로1?2?3?4가동', '일원2동', '중계2?3동', '종로5?6가동', '면목3?8동', '상계3?4동', '금호2?3가동', '상계6?7동', '상일동'}

In [102]:
len(dong_size_only)

394

In [99]:
dong_pop_dong = set(dong_pop['d_admdong_cd'])
df_new_cd_dong = set(df_new_cd['행정동_코드'])

dong_pop_only = dong_pop_dong - df_new_cd_dong
df_new_cd_only = df_new_cd_dong - dong_pop_dong

print(dong_pop_only)
print(df_new_cd_only)

{'11740525', '11740526', '11230533', '11230515', '11680675'}
{'11230536', '11680740', '11740520'}

In [121]:
dong_size[dong_size['ADM_CD'] == '11740525']

Empty GeoDataFrame
Columns: [ADM_CD, ADM_NM, geometry, 구별, 면적]
Index: []

In [ ]:
# dong_pop괴 df_new_cd 다른 점
# df_new_cd : 용신동, 일원2동, 상일동
# dong_pop : 가락1동 (11710631), 상일제2동(11740526),

In [107]:
df_new_cd[df_new_cd['행정동_코드'] == '11740520']

       행정동_코드 행정동_명  엑스좌표_값  와이좌표_값    영역_면적
400  11740520   상일동  214565  450139  1813623

In [105]:
dong_size[dong_size['ADM_NM'] == '용신동']

,ADM_CD,ADM_NM,geometry,구별,면적
148,11060810,용신동,"POLYGON ((203753.305 553310.975, 203753.673 55...",동대문구,1.61

In [85]:
dong_size[dong_size['ADM_CD'] == '11140520']

Empty GeoDataFrame
Columns: [ADM_CD, ADM_NM, geometry, 구별, 면적]
Index: []

In [83]:
len(dong_size_only)

394

In [84]:
len(dong_pop_only)

395

In [ ]:
# 행정동 코드, 면적, 총유동인구로 구성된 데이터프레임 만들기

In [195]:
import geopandas as gpd

file_path = "../QGIS/data/서울시_행정동(sangil_merged)/서울시_행정동(sangil_merged).shp"

seoul_dong = gpd.read_file(file_path)

seoul_dong.head()

,ADM_NM,BASE_DATE,ADM_CD,geometry
0,가락1동,20240630,11240660,"POLYGON ((209868.446 544549.186, 209869.646 54..."
1,가락2동,20240630,11240670,"POLYGON ((212324.335 544030.45, 212313.045 544..."
2,가락본동,20240630,11240650,"POLYGON ((211329.068 544734.354, 211283.733 54..."
3,가리봉동,20240630,11170700,"POLYGON ((189927.102 542838.529, 189932.385 54..."
4,가산동,20240630,11180510,"POLYGON ((189465.322 542926.552, 189465.69 542..."

In [196]:
len(seoul_dong)

424

In [197]:
seoul_dong_dong = set(seoul_dong['ADM_NM'])
df_new_cd_dong = set(df_new_cd['행정동_명'])

seoul_dong_only = seoul_dong_dong - df_new_cd_dong
df_new_cd_only = df_new_cd_dong - seoul_dong_dong

print(seoul_dong_only)
print(df_new_cd_only)

set()
set()

In [198]:
dong_pop[dong_pop['d_admdong_cd'] == '11710631']

    d_admdong_cd  total_population_sep
396     11710631            1729324.03

In [199]:
df_new_cd[df_new_cd['행정동_명'] == '가락1동']

       행정동_코드 행정동_명  엑스좌표_값  와이좌표_값    영역_면적
413  11710631  가락1동  209575  443976  1393228

In [200]:
print(len(seoul_dong))
seoul_dong.head()

424

,ADM_NM,BASE_DATE,ADM_CD,geometry
0,가락1동,20240630,11240660,"POLYGON ((209868.446 544549.186, 209869.646 54..."
1,가락2동,20240630,11240670,"POLYGON ((212324.335 544030.45, 212313.045 544..."
2,가락본동,20240630,11240650,"POLYGON ((211329.068 544734.354, 211283.733 54..."
3,가리봉동,20240630,11170700,"POLYGON ((189927.102 542838.529, 189932.385 54..."
4,가산동,20240630,11180510,"POLYGON ((189465.322 542926.552, 189465.69 542..."

In [201]:
print(len(df_new_cd))
df_new_cd.head()

425

     행정동_코드  행정동_명  엑스좌표_값  와이좌표_값    영역_면적
0  11110515  청운효자동  197342  453874  2568432
1  11110530    사직동  197383  452705  1158536
2  11110540    삼청동  198340  454312  1479255
3  11110550    부암동  196781  455266  2274739
4  11110560    평창동  197186  457344  8947328

In [202]:
seoul_dong_dong = set(seoul_dong['ADM_NM'])
df_new_cd_dong = set(df_new_cd['행정동_명'])

seoul_dong_only = seoul_dong_dong - df_new_cd_dong
df_new_cd_only = df_new_cd_dong - seoul_dong_dong

print(seoul_dong_only)
print(df_new_cd_only)

set()
set()

In [203]:
df_new_cd['행정동_명'] = df_new_cd['행정동_명'].str.replace('?', '·')

seoul_dong_dong = set(seoul_dong['ADM_NM'])
df_new_cd_dong = set(df_new_cd['행정동_명'])

seoul_dong_only = seoul_dong_dong - df_new_cd_dong
df_new_cd_only = df_new_cd_dong - seoul_dong_dong

print(seoul_dong_only)
print(df_new_cd_only)

set()
set()

In [159]:
# seoul_df 기준 병합
# '상일동'}
# 상일1동, 상일2동
# 일원2동 -> 개포3동

# 일원2동 -> 개포3동
df_new_cd.loc[df_new_cd['행정동_명'] == '일원2동', '행정동_명'] = '개포3동'

print(df_new_cd[df_new_cd['행정동_명'] == '개포3동'])

       행정동_코드 행정동_명  엑스좌표_값  와이좌표_값    영역_면적
416  11680740  개포3동  206971  444095  1300290

In [160]:
# 행정동 명으로 Join

dong_size = seoul_dong.merge(
    df_new_cd,
    how = 'left',
    left_on = "ADM_NM",
    right_on = "행정동_명"
)

print(len(dong_size))
dong_size.head()

425

,ADM_NM,BASE_DATE,ADM_CD,geometry,행정동_코드,행정동_명,엑스좌표_값,와이좌표_값,영역_면적
0,가락1동,20240630,11240660,"POLYGON ((209868.446 544549.186, 209869.646 54...",11710631,가락1동,209575,443976,1393228
1,가락2동,20240630,11240670,"POLYGON ((212324.335 544030.45, 212313.045 544...",11710632,가락2동,211564,444052,932311
2,가락본동,20240630,11240650,"POLYGON ((211329.068 544734.354, 211283.733 54...",11710620,가락본동,210758,444180,1014738
3,가리봉동,20240630,11170700,"POLYGON ((189927.102 542838.529, 189932.385 54...",11530595,가리봉동,190099,442589,410996
4,가산동,20240630,11180510,"POLYGON ((189465.322 542926.552, 189465.69 542...",11545510,가산동,189721,441920,2512852

In [204]:
dong_size.columns

Index(['ADM_NM', 'OLD_CD', 'geometry', 'NEW_CD', '면적'], dtype='object')

In [162]:
dong_size.drop(columns = ['BASE_DATE', '행정동_명', '엑스좌표_값', '와이좌표_값'], inplace = True)

dong_size.head()

,ADM_NM,ADM_CD,geometry,행정동_코드,영역_면적
0,가락1동,11240660,"POLYGON ((209868.446 544549.186, 209869.646 54...",11710631,1393228
1,가락2동,11240670,"POLYGON ((212324.335 544030.45, 212313.045 544...",11710632,932311
2,가락본동,11240650,"POLYGON ((211329.068 544734.354, 211283.733 54...",11710620,1014738
3,가리봉동,11170700,"POLYGON ((189927.102 542838.529, 189932.385 54...",11530595,410996
4,가산동,11180510,"POLYGON ((189465.322 542926.552, 189465.69 542...",11545510,2512852

In [164]:
dong_size = dong_size.rename(columns = {
    "ADM_CD" : 'OLD_CD',
    "행정동_코드" : 'NEW_CD',
    '영역_면적' : '면적'
})

dong_size.head()

,ADM_NM,OLD_CD,geometry,NEW_CD,면적
0,가락1동,11240660,"POLYGON ((209868.446 544549.186, 209869.646 54...",11710631,1393228
1,가락2동,11240670,"POLYGON ((212324.335 544030.45, 212313.045 544...",11710632,932311
2,가락본동,11240650,"POLYGON ((211329.068 544734.354, 211283.733 54...",11710620,1014738
3,가리봉동,11170700,"POLYGON ((189927.102 542838.529, 189932.385 54...",11530595,410996
4,가산동,11180510,"POLYGON ((189465.322 542926.552, 189465.69 542...",11545510,2512852

In [207]:
print(len(dong_size))
dong_size.head()

425

,ADM_NM,OLD_CD,geometry,NEW_CD,면적
0,가락1동,11240660,"POLYGON ((209868.446 544549.186, 209869.646 54...",11710631,1393228
1,가락2동,11240670,"POLYGON ((212324.335 544030.45, 212313.045 544...",11710632,932311
2,가락본동,11240650,"POLYGON ((211329.068 544734.354, 211283.733 54...",11710620,1014738
3,가리봉동,11170700,"POLYGON ((189927.102 542838.529, 189932.385 54...",11530595,410996
4,가산동,11180510,"POLYGON ((189465.322 542926.552, 189465.69 542...",11545510,2512852

In [165]:
print(len(dong_pop))
dong_pop.head()

427

  d_admdong_cd  total_population_sep
0     11110515             975471.40
1     11110530            2878484.46
2     11110540             575638.64
3     11110550             605378.26
4     11110560             806331.98

In [208]:
# 상일1동 + 상일2동 -> 상일동
# 용두동 + 신설동 -> 용신동

dong_pop[dong_pop['d_admdong_cd'] == '11250760']

Empty DataFrame
Columns: [d_admdong_cd, total_population_sep]
Index: []

In [210]:
# 안맞는 코드 찾기
dong_size_dong = set(dong_size['NEW_CD'])
dong_pop_dong = set(dong_pop['d_admdong_cd'])

dong_size_only = dong_size_dong - dong_pop_dong
dong_pop_only = dong_pop_dong - dong_size_dong

print(dong_size_only)
print(dong_pop_only)

{'11230536', '11680740', '11740520'}
{'11740525', '11740526', '11230533', '11230515', '11680675'}

In [216]:
# 용신동, 개포3동, 상일동
dong_size[dong_size['NEW_CD'] == '11740520']

,ADM_NM,OLD_CD,geometry,NEW_CD,면적
186,상일동,11250760,"POLYGON ((215369.136 549579.849, 215368.339 54...",11740520,1813623

In [217]:
dong_pop = dong_pop[~dong_pop['d_admdong_cd'].isin(dong_pop_only)]
len(dong_pop)

422

In [218]:
# dong_pop괴 df_new_cd 다른 점
# df_new_cd : 용신동, 일원2동, 상일동
# dong_pop : 가락1동 (11710631), 상일제2동(11740526), 용두동(1123053300), 신설동(1123051500)

# new_code로 Join
final_dong = dong_size.merge(
    dong_pop,
    how = 'left',
    left_on = "NEW_CD",
    right_on = "d_admdong_cd"
)

print(len(final_dong))
final_dong.head()

425

,ADM_NM,OLD_CD,geometry,NEW_CD,면적,d_admdong_cd,total_population_sep
0,가락1동,11240660,"POLYGON ((209868.446 544549.186, 209869.646 54...",11710631,1393228,11710631,1729324.03
1,가락2동,11240670,"POLYGON ((212324.335 544030.45, 212313.045 544...",11710632,932311,11710632,1222707.57
2,가락본동,11240650,"POLYGON ((211329.068 544734.354, 211283.733 54...",11710620,1014738,11710620,1917889.16
3,가리봉동,11170700,"POLYGON ((189927.102 542838.529, 189932.385 54...",11530595,410996,11530595,451913.97
4,가산동,11180510,"POLYGON ((189465.322 542926.552, 189465.69 542...",11545510,2512852,11545510,4222322.99

In [219]:
final_dong.drop(columns = ['d_admdong_cd'], inplace = True)
final_dong.head()

,ADM_NM,OLD_CD,geometry,NEW_CD,면적,total_population_sep
0,가락1동,11240660,"POLYGON ((209868.446 544549.186, 209869.646 54...",11710631,1393228,1729324.03
1,가락2동,11240670,"POLYGON ((212324.335 544030.45, 212313.045 544...",11710632,932311,1222707.57
2,가락본동,11240650,"POLYGON ((211329.068 544734.354, 211283.733 54...",11710620,1014738,1917889.16
3,가리봉동,11170700,"POLYGON ((189927.102 542838.529, 189932.385 54...",11530595,410996,451913.97
4,가산동,11180510,"POLYGON ((189465.322 542926.552, 189465.69 542...",11545510,2512852,4222322.99

In [220]:
mean_val = final_dong['total_population_sep'].mean()
final_dong['total_population_sep'] = final_dong['total_population_sep'].fillna(mean_val)

nan_row_count = final_dong.isnull().any(axis=1).sum()
print(f"NaN 값이 하나라도 있는 행의 총 개수: {nan_row_count}")

NaN 값이 하나라도 있는 행의 총 개수: 0

In [222]:
final_dong.to_file("../QGIS/data/seoul_digital_environment.gpkg", driver="GPKG")